<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie-{% endifchanged %}" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <meta
      name="description"
      content="A lightweight, self contained HTML template"
    />
    <meta name="author" content="Gabriel Getzie" />
    <meta name="keywords" content="HTML, template" />
    <title>Simple HTML Template</title>
    <style>
      body {
        margin: 40px auto;
        max-width: 700px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0;
      }
      h1,
      h2,
      h3 {
        line-height: 1.2;
      }
      img {
        max-height: 600px;
      }
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <h1>Document Head</h1>
    <p>Document Intro</p>
    <h2>Section Head</h2>
    <p>Section Text</p>
  </body>
</html>
